{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"},
    warnings_as_errors
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_excl_mods,
 [
  %% cli stuff
  blockchain_console,
  blockchain_cli_peer
 ]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files,
              [
               "ct.coverdata",
               "eunit.coverdata"
              ]}]
}.

{deps, [
    {lager, "3.9.2"},
    {erl_base58, "0.0.1"},
    {base64url, "1.0.1"},
    {jsx, "3.1.0"},
    {libp2p, ".*", {git, "https://github.com/mossafaei/erlang-libp2p", {branch, "master"}}},
    {clique, ".*", {git, "https://github.com/helium/clique.git", {branch, "develop"}}},
    {h3, ".*", {git, "https://github.com/helium/erlang-h3.git", {branch, "master"}}},
    {erl_angry_purple_tiger, ".*", {git, "https://github.com/helium/erl_angry_purple_tiger.git", {branch, "master"}}},
    {erlang_stats, ".*", {git, "https://github.com/helium/erlang-stats.git", {branch, "master"}}},
    {e2qc, ".*", {git, "https://github.com/helium/e2qc", {branch, "master"}}},
    {vincenty, ".*", {git, "https://github.com/helium/vincenty", {branch, "master"}}},
    {helium_proto, {git, "https://github.com/helium/proto.git", {branch, "master"}}},
    {merkerl, ".*", {git, "https://github.com/helium/merkerl.git", {branch, "master"}}},
    {xxhash, {git, "https://github.com/pierreis/erlang-xxhash", {branch, "master"}}},
    {exor_filter, ".*", {git, "https://github.com/mpope9/exor_filter", {branch, "master"}}},
    {grpcbox, {git, "https://github.com/andymck/grpcbox.git", {branch, "andymck/ts-master/stream-handler-changes"}}},
    {recon, "2.5.2"},
    {elli, "3.3.0"},
    jsone,
    {jsonrpc2, {git, "https://github.com/zuiderkwast/jsonrpc2-erlang.git", {branch, "master"}}},
    {observer_cli, "1.7.1"},
    pbkdf2
]}.

{shell, [
    %{config, "config/sys.config"},
    {apps, [blockchain_crawler]}
]}.

{relx, [
    {release, {blockchain_crawler, "0.1.0"}, [
        blockchain_crawler
    ]},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/dev.config"},
    {extended_start_script, true},
    {dev_mode, true},
    {include_src, true},
    {extended_start_script_hooks, [
        {post_start, [
            %{wait_for_process, blockchain_swarm}
        ]}
    ]},
    {extended_start_script_extensions, [
        {peer, "extensions/peer"}
    ]},
    {overlay, [
        {copy, "config/sys.config", "config/sys.config"},
        {copy, "priv/genesis", "update/genesis"},
        {copy, "scripts/extensions/peer", "bin/extensions/peer"},
        {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
    ]}
]}.

{plugins,
 [
  erlfmt,
  {grpcbox_plugin, {git, "https://github.com/andymck/grpcbox_plugin.git", {branch, "andymck/ts-master/combined-opts-and-template-changes"}}},
  covertool,
  {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}
 ]}.

%{pre_hooks, [
%    {compile, "make grpc"},
%    {clean, "make clean_grpc"}
%]}.


{profiles, [
    {test, [
        {relx, [
            {sys_config, "./config/test.config"},
            {dev_mode, false},
            {include_erts, false},
            {include_src, false},
            {overrides, [{add, blockchain, [{erl_opts, [{d, 'TEST'}]}]}]},
            {deps, [
                {miner_test, {git, "https://github.com/helium/miner-test.git", {branch, "master"}}}
            ]}
        ]}
    ]},
    {dev, [
        {relx, [
            {sys_config, "./config/dev.config"},
            {dev_mode, true},
            {include_src, false},
            {include_erts, false}
        ]}
    ]},
    {dev_testnet, [
        {relx, [
            {sys_config, "./config/dev_testnet.config"},
            {dev_mode, true},
            {include_src, false},
            {include_erts, false},
            {overlay, [
                {copy, "priv/genesis_testnet", "update/genesis"}
            ]}
        ]}
    ]},
    {prod, [
        {relx, [
            {sys_config, "./config/prod.config"},
            {dev_mode, false},
            {include_src, false},
            {include_erts, true}
        ]}
    ]},
    {docker_node, [
        {relx, [
            {sys_config_src, "./config/docker_node.config.src"},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {docker_rosetta_testnet, [
        {relx, [
            {sys_config, "./config/docker_rosetta_testnet.config"},
            {dev_mode, false},
            {include_erts, false},
            {overlay, [
                {copy, "priv/genesis_testnet", "update/genesis"}
            ]}
        ]}
    ]},
    {docker_rosetta, [
        {relx, [
            {sys_config_src, "./config/docker_rosetta.config"},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {local, [
        {relx, [
            {sys_config, "./config/local.config"},
            {dev_mode, false},
            {include_src, false},
            {include_erts, false}
        ]}
    ]}
]}.
